#ifndef _APP_GSDML_MODULE_ECHO_H_
#define _APP_GSDML_MODULE_ECHO_H_

#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <rtlabs/p-net/pnet_api.h>

#include "app_data.h"
#include "app_utils.h"
#include "app_gsdml.h"
#include "app_log.h"
#include "rtlabs/osal/osal.h"
#include "pnal.h"

#include "app_gsdml_conf.h"
#include "app_gsdml_utils.h"

#ifdef __cplusplus
extern "C" {
#endif

#define APP_GSDML_MOD_{{module}}_ID {{id}}//0x00000040

{{#submodules}}
#define APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_ID {{id}}//0x00000140
{{/submodules}}

{{#submodules}}
{{#parameters}}
#define APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_PARAMETER_{{parameter}}_ID {{id}}//125
{{/parameters}}
{{/submodules}}

#define APP_GSDML_MOD_{{module}}_OUTPUT_SIZE {{output_size}}
#define APP_GSDML_MOD_{{module}}_INPUT_SIZE {{input_size}}

{{#submodules}}
#define APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_PARAMETERS_TABLE(_) \
{{#parameters}}
    _(app_gsdml_mod_{{module}}_submod_{{submodule}}_parameter_{{parameter}}_object, APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_PARAMETER_{{parameter}}_ID, "{{description}}", APP_GSDML_PARAMETER_LENGTH)
{{/parameters}}
{{/submodules}}

{{#submodules}}
APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_PARAMETERS_TABLE(GSDML_PARAMETER_DECLARE)
{{/submodules}}

#define APP_GSDML_MOD_{{module}}_SUBMODULES_TABLE(_) \
{{#submodules}}
    _(app_gsdml_mod_{{module}}_submod_{{submodule}}_object, "{{description}}", APP_GSDML_API, {{direction}} /* PNET_DIR_IO */, APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_ID, APP_GSDML_MOD_{{module}}_INPUT_SIZE, APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_OUTPUT_SIZE, APP_GSDML_MOD_{{module}}_SUBMOD_{{submodule}}_PARAMETERS_TABLE)
{{/submodules}}

APP_GSDML_MOD_{{module}}_SUBMODULES_TABLE(GSDML_SUBMODULE_DECLARE)

GSDML_MODULE_DECLARE(APP_GSDML_MOD_{{module}}_ID, app_gsdml_mod_{{module}}, "{{description}}", APP_GSDML_MOD_{{module}}_SUBMODULES_TABLE)

#ifdef __cplusplus
}
#endif

#endif