#ifndef APP_GSDML_CONF_H_
#define APP_GSDML_CONF_H_

#define APP_GSDML_API 0

{{#station_name}}
#define APP_GSDML_DEFAULT_STATION_NAME "{{station_name}}" //"rt-labs-dev"
{{/station_name}}

{{#vendor_id}}
#define APP_GSDML_VENDOR_ID {{vendor_id}} //0x0493
{{/vendor_id}}

/* GSDML tag: DeviceID */
{{#device_id}}
#define APP_GSDML_DEVICE_ID {{device_id}} //0x0002
{{/device_id}}

/* Used in DCP communication */
{{#oem_vendor_id}}
#define APP_GSDML_OEM_VENDOR_ID {{oem_vendor_id}} //0xcafe
{{/oem_vendor_id}}

{{#oem_device_id}}
#define APP_GSDML_OEM_DEVICE_ID {{oem_device_id}} //0xee02
{{/oem_device_id}}

/* Used in I&M0 */
{{#im_hardware_revision}}
#define APP_GSDML_IM_HARDWARE_REVISION {{im_hardware_revision}} //3
{{/im_hardware_revision}}

{{#im_version_major}}
#define APP_GSDML_IM_VERSION_MAJOR {{im_version_major}} //1
{{/im_version_major}}

{{#im_version_minor}}
#define APP_GSDML_IM_VERSION_MINOR {{im_version_minor}}//2
{{/im_version_minor}}

/* Allowed: 'V', 'R', 'P', 'U', '
{{#sw_rev_prefix}}T' */
#define APP_GSDML_SW_REV_PREFIX '{{sw_rev_prefix}}'//'V'
{{/sw_rev_prefix}}

{{#profile_id}}
#define APP_GSDML_PROFILE_ID {{profile_id}} //0x1234
{{/profile_id}}

{{#profile_spec_type}}
#define APP_GSDML_PROFILE_SPEC_TYPE {{profile_spec_type}} //0x5678
{{/profile_spec_type}}

{{#im_revision_counter}}
#define APP_GSDML_IM_REVISION_COUNTER {{im_revision_counter}} //0 /* Typically 0 */
{{/im_revision_counter}}

/* Note: You need to read out the actual hardware serial number instead */
{{#serial_number}}
#define APP_GSDML_EXAMPLE_SERIAL_NUMBER "{{serial_number}}" //"007"
{{/serial_number}}

/* Initial values. Can be overwr itten by PLC */
{{#tag_function}}
#define APP_GSDML_TAG_FUNCTION "{{tag_function}}" //"my function"
{{/tag_function}}

{{#tag_location}}
#define APP_GSDML_TAG_LOCATION "{{tag_location}}" //"my location"
{{/tag_location}}

{{#im_date}}
#define APP_GSDML_IM_DATE "{{im_date}}"//"2022-03-01 10:03"
{{/im_date}}

{{#descriptor}}
#define APP_GSDML_DESCRIPTOR "{{descriptor}}"//"my descriptor"
{{/descriptor}}

{{#signature}}
#define APP_GSDML_SIGNATURE "{{signature}}"//""
{{/signature}}

/* GSDML tag: Writeable_IM_Records */
#define APP_GSDML_IM_SUPPORTED \
   (PNET_SUPPORTED_IM1 | PNET_SUPPORTED_IM2 | PNET_SUPPORTED_IM3)

/* GSDML tag: OrderNumber */
{{#order_id}}
#define APP_GSDML_ORDER_ID "{{order_id}}"//"12345 Abcdefghijk"
{{/order_id}}

/* GSDML tag: ModuleInfo / Name 
{{#product_name}}*/
#define APP_GSDML_PRODUCT_NAME "{{product_name}}"//"P-Net Sample Application"
{{/product_name}}

/* GSDML tag: MinDeviceInterval */
{{#min_device_interval}}
#define APP_GSDML_MIN_DEVICE_INTERVAL {{min_device_interval}}//32 /* 1 ms */
{{/min_device_interval}}

{{#diag_custom_usi}}
#define APP_GSDML_DIAG_CUSTOM_USI {{diag_custom_usi}} //0x1234
{{/diag_custom_usi}}

/* See "Specification for GSDML" 8.26
{{#logbook_error_code}} LogBookEntryItem for allowed values */
#define APP_GSDML_LOGBOOK_ERROR_CODE {{logbook_error_code}} //0x20   /* Manufacturer specific */
{{/logbook_error_code}}

{{#logbook_error_decode}}
#define APP_GSDML_LOGBOOK_ERROR_DECODE {{logbook_error_decode}}//0x82 /* Manufacturer specific */
{{/logbook_error_decode}}

#define APP_GSDML_LOGBOOK_ERROR_CODE_1 PNET_ERROR_CODE_1_FSPM

{{#logbook_error_code_2}}
#define APP_GSDML_LOGBOOK_ERROR_CODE_2 {{logbook_error_code_2}}//0x00       /* Manufacturer specific */
{{/logbook_error_code_2}}

{{#logbook_entry_detail}}
#define APP_GSDML_LOGBOOK_ENTRY_DETAIL {{logbook_entry_detail}} //0xFEE1DEAD /* Manufacturer specific */
{{/logbook_entry_detail}}

#endif