[Unit]
Description=Clamir Linux Daemon Service
After=network-online.target

[Service]
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/clamir-linux-daemon
Restart=always

[Install]
WantedBy=multi-user.target